*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Modak', cursive;
    background-image: url(img/bg.png);
    font-size: 18px;
}

.title{
    font-size: 3rem;
    color: #00AFE9;
    display: block;
    text-align: center;
    padding-top: 3rem;
}

.image{
    
    float: left;
    padding-top: 5rem;
    padding-left: 11rem;
}

.text{
    color: white;
    font-size: 36px;
    float:right;
    padding-top: 17rem;
    padding-right: 5rem;
}

