*{
    font-family: 'Abel', sans-serif;
}

body{
    
    display: flex;
    justify-content: center;
}

 .main{
    width: 70%;

    .products{
        display: flex;
        

        .product{
            img{
                width: 100px;
            }
        }

    }

 }